<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1 class="todo-title">TODOアプリ</h1>

      <div class="todo-list">
        <h2>やること一覧</h2>
        <ul>
          <li v-for="todo in todos" :key="todo.id" class="todo-item">
            <span v-show="!isEditMode(todo)">{{ todo.text }}</span>
            <form
              v-show="isEditMode(todo)"
              v-on:submit.prevent="saveTodo(todo)"
            >
              <input type="text" v-model="todo.text" required />
              <input type="submit" value="保存" />
            </form>

            <button v-show="!isEditMode(todo)" v-on:click="editTodo(todo)">
              編集
            </button>
            <button v-show="!isEditMode(todo)" v-on:click="deleteTodo(todo)">
              削除
            </button>
          </li>
        </ul>
      </div>

      <div class="todo-create">
        <h2>やること作成</h2>
        <form v-on:submit.prevent="createTodo">
          <input
            type="text"
            placeholder="やることを入力してください"
            v-model="todoText"
            required
            class="todo-create-text"
          />
          <input type="submit" value="作成" />
        </form>
      </div>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: function () {
          return {
            todos: [],
            editModeTodos: [],
            todoText: "",
          };
        },
        created() {
          if (localStorage.todos) {
            this.todos = JSON.parse(localStorage.getItem("todos"));
          }
        },
        methods: {
          createTodo() {
            if (this.todoText === "") {
              return;
            }

            const maxId = detectMaxId(this.todos);
            this.todos.push({
              id: maxId + 1,
              text: this.todoText,
            });
            saveToLocalStorage(this.todos);

            this.todoText = "";
          },
          editTodo(targetTodo) {
            this.editModeTodos.push(targetTodo);
          },
          saveTodo(targetTodo) {
            if (targetTodo.text === "") {
              return;
            }

            this.editModeTodos = this.editModeTodos.filter(
              (todo) => todo !== targetTodo
            );

            saveToLocalStorage(this.todos);
          },
          deleteTodo(targetTodo) {
            this.todos = this.todos.filter((todo) => todo !== targetTodo);

            saveToLocalStorage(this.todos);
          },
          isEditMode(targetTodo) {
            return this.editModeTodos.includes(targetTodo);
          },
        },
      });

      function detectMaxId(todos) {
        if (todos.size === 0) {
          return 0;
        }

        return todos.reduce((id, todo) => {
          return id > todo.id ? id : todo.id;
        }, 0);
      }

      function saveToLocalStorage(todos) {
        localStorage.setItem("todos", JSON.stringify(todos));
      }
    </script>

    <style scoped>
      .todo-title,
      .todo-list,
      .todo-create {
        margin-left: 30px;
      }

      .todo-item {
        margin: 6px;
      }

      .todo-create-text {
        width: 200px;
      }
    </style>
  </body>
</html>
