<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>Todo</h1>

      <ul>
        <li v-for="todo in todos" :key="todo.id">
          <span v-show="!isEditMode(todo)">{{ todo.text }}</span>
          <input type="text" v-model="todo.text" v-show="isEditMode(todo)" />

          <button v-if="isEditMode(todo)" v-on:click="saveTodo(todo)">
            保存
          </button>
          <button v-else v-on:click="editTodo(todo)">編集</button>

          <button v-on:click="deleteTodo(todo)">削除</button>
        </li>
      </ul>

      <div>
        <input
          type="text"
          v-model="todoText"
          placeholder="やることを入力してください"
        />
        <button v-on:click="createTodo">作成</button>
      </div>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: function () {
          return {
            todos: [
              {
                id: 1,
                text: "朝ご飯食べる",
              },
              {
                id: 2,
                text: "散歩する",
              },
              {
                id: 3,
                text: "お風呂に入る",
              },
            ],
            todoText: "",
            editModeTodos: [],
          };
        },
        methods: {
          createTodo() {
            const maxId = detectMaxId(this.todos);
            this.todos.push({
              id: maxId + 1,
              text: this.todoText,
            });
          },
          saveTodo(targetTodo) {
            this.editModeTodos = this.editModeTodos.filter(
              (todo) => todo !== targetTodo
            );
          },
          editTodo(targetTodo) {
            this.editModeTodos.push(targetTodo);
          },
          deleteTodo(targetTodo) {
            this.todos = this.todos.filter((todo) => todo !== targetTodo);
          },
          isEditMode(targetTodo) {
            return this.editModeTodos.includes(targetTodo);
          },
        },
      });

      function detectMaxId(todos) {
        return todos.reduce((id, todo) => {
          return id > todo.id ? id : todo.id;
        }, 0);
      }

      // console.log("this is setItem");
      // localStorage.setItem("Key", "保存する値");
      // console.log("this is setItem");
      // var value = localStorage.getItem("Key");
      // console.log("this is value");
      // console.log(value);
    </script>
  </body>
</html>
